body{
background-color: #bad6d3;
}

#root {
  width: 100%; 
} 

.myNavbar {
  width: 100%;
  height: 100px;
  top: 0;
  position: absolute;
  background-color: #6e9bcc;
  
}

.main{
  text-align: center;
 
}

.myNavbar p{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}