/* #root {
} */

.navbar {
  width: 100%;
  height: 50px;
  top: 0;
  position: absolute;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}
